/*desktop-----------------------------------------*/
.header {
	width: 85%;
	height: 200px;
	margin: 0 auto;
	background: white;
}
.pics1 {
	float: left;
	width: 25%;
	height: 100%;
/* 	background: blue; */
}
.pics2 {
	float: left;
	width: 25%;
	height: 100%;
/* 	background: green; */
}
.pics3 {
	float: left;
	width: 25%;
	height: 100%;
/* 	background: orange; */
}
.pics4 {
	float: left;
	width: 25%;
	height: 100%;
/* 	background: yellow; */
}
.header .headpics {
	width: 150px;
	height: 150px;
	padding-left: 2rem;
	box-sizing: border;
	margin: 0 auto;
	padding-left: 3rem;
}
.header .headtext {
	width: 100%;
	height: 20%;
	font-weight: bold;
	font-size: 14px;
	font-family: "Arial", Times, serif;
	color: red;
	display: block;
	padding-left: 3rem;
}
.header .inpics {
	width: 100%;
	height: 70%;

}
.F1{
	width: 85%;
	height: auto;
	/* background: lightgrey; */
	margin: 0 auto;
}
.F1 .vungngoai{
	width: 85%;
	height: 100px;
	/*background: red;*/
	margin: 0 auto;
}
.vungngoai .text{
	width: 100%;
	height: 50px;
	/*background: gray;*/
}
.text h3{
	margin: 0 auto;
	padding: 0;
	padding-top: 0.8rem;
	text-align: center;
	text-transform: uppercase;

}
.menu{
	width: 100%;
	height: 50px;
	/*background: white;*/
	margin: 0 auto;
}
.menu ul{
	width: 100%;
	height: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	/*background: red;*/
}
.menu ul li{
	float: left;
	width: 25%;
	display: block;
	/*background: blue;*/
	height: 100%;
}
.menu ul li a{
	display: block;
	width: 100%;
	height: 100%;
	/*background: yellow;*/
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	padding-top: 1.2rem;
	color: black;
	text-transform: capitalize;
	font-weight: bold;
	transition: 1s;

}

.menu ul li:hover a{
	color: red;
	background: green;
}
.ovuong{
	margin-top: 1rem;
	width: 85%;
	height: auto;
	/* background: red;  */
	margin: 0 auto;
}
.ovuong .o1{
	margin-left: 0.8rem;
	float: left;
	width: 32%;
	height: 47%;
	/* background: blue; */
}
.ovuong .o1 .ima{
	width: 100%;
	height: 80%;
	/* background: yellow; */
}
.ovuong .o1 .ima img{
	width: 100%;
	height: 100%;
}
.ovuong .o1 p{
	display: block;
	width: 100%;
	height: 20%;
}

/*Tablet------------------------------------------*/
@media screen and (max-width: 980px){
	.header .pics1{
		width: 50%;
	}
	.header .pics2 {
		width: 50%;
	}
	.header .pics3 {
		width: 50%;
		clear: left;
	}
	.header .pics4 {
		width: 50%;
	}
	.ovuong .o1{
		width: 47%;
		height: 50%;
	}
	.ovuong .o1 ima{
		width: 100%;
		height: 100%;
	}
}
/*SmartPhone--------------------------------------*/
@media screen and (max-width: 480px){
	.header .pics1{
		width: 100%;
	}
	.header .pics2 {
		width: 100%;
	}
	.header .pics3 {
		width: 100%;
	}
	.header .pics4 {
		width: 100%;
	}
	.menu ul li{
	clear: left;
	margin: 0 auto;
	width: 100%;
}
	.ovuong .o1{
		width: 100%;
		height: 50%;
	}
	.ovuong .o1 img{
		height: 100%;
		height: 100%;
	}
}